.navbar {
  max-width: 736px;
  width: 736px;
  padding-left: 160px;
  padding-right: 64px;
  background-color: rgba(255, 255, 255, 5%);
  backdrop-filter: blur(80px);
  transition: all 0.5s;
  .nav_list {
    display: flex;
    justify-content: space-between;
    min-height: 96px;

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: unset;
      gap: 32px;
      margin-top: 80px;
    }
    li {
      display: flex;
      border-bottom: 3px solid transparent;
      transition: all 0.8s;
      &:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
        transition: all 0.8s;
      }
      &.active {
        border-bottom: 3px solid #fff;
      }
      @media (max-width: 767px) {
        border-bottom: none;
        border-right: 3px solid transparent;
        &:hover {
          border-bottom: none;
          border-right: 3px solid rgba(255, 255, 255, 0.5);
        }
        &.active {
          border-bottom: none;
          border-right: 3px solid #fff;
        }
      }
    }

    a {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 16px;
      line-height: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 300;
      span {
        font-weight: bold;
      }
    }
  }
  .close_btn {
    display: none;
    @media (max-width: 767px) {
      display: flex;
      justify-self: flex-end;
      outline: none;
      border: none;
      background: none;
      margin-right: 24px;
    }
  }

  @media (max-width: 1024px) {
    max-width: 640px;
    padding-left: 116px;
    padding-right: 40px;
  }
  @media (max-width: 767px) {
    width: 100%;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 254px;
    gap: 32px;
    padding: 32px 0 32px 32px;
    transform: translateX(100%);
    &.isOpen {
      transform: translateX(0);
    }
  }
}
